pkgbase = linux-g1a
	pkgdesc = Linux Mainline
	pkgver = 6.17rc3
	pkgrel = 1
	url = https://kernel.org/
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = git
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = python-yaml
	makedepends = texlive-latexextra
	options = !debug
	options = !strip
	source = linux-mainline::git+https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git#tag=v6.17-rc3
	source = config
	source = 990-amd-isp-capture.patch
	source = 991-amd-ll-isp4.patch
	source = 992-isp4-fw-hw-interface.patch
	source = 993-isp4-firmware-loading.patch
	source = 994-isp4-video-node.patch
	source = 995-isp4-debug.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = 5b50e77aa2969cf14db765a562fae6501324b8bc200e70e758d92ca0daedae83
	sha256sums = f14265abd06e1ca3baddbcc45b373a2f772d43120af7208b2f0283f8e6f04072
	sha256sums = 0b8369ba7fc2f07591314f27e6df34f083577b4a91a861231b6ccff00b8520e3
	sha256sums = a273ec5416a6035d31c0ca5252611015847e63c2c818a74b7fe5d7d798ce94cd
	sha256sums = 45876347dc978e90bacee4915bac19f0e4f7ffc898ee943bc8431e9c33ef7898
	sha256sums = fe2f9e87f2134e8246943d043548687146b0f95efe1877949478c5ba4d5e4936
	sha256sums = 7c2a8c8a93db48f3ccbc65cf4dc3fa0fb5f0720d85e07028bfaae5e32a29b0a1
	sha256sums = 697e88db32adee86443c8998f3a2ed193eb040a813283684552dbbdcb2666029

pkgname = linux-g1a
	pkgdesc = The Linux Mainline kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = NTSYNC-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-g1a-headers
	pkgdesc = Headers and scripts for building modules for the Linux Mainline kernel
	depends = pahole

pkgname = linux-g1a-docs
	pkgdesc = Documentation for the Linux Mainline kernel
