pkgbase = linux-g1a
	pkgdesc = Linux Mainline
	pkgver = 6.18rc4
	pkgrel = 1
	url = https://kernel.org/
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = git
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = python-yaml
	makedepends = texlive-latexextra
	options = !debug
	options = !strip
	source = linux-mainline::git+https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git#tag=v6.18-rc4
	source = config
	source = 991-amd-isp4-capture-driver.patch
	source = 992-amd-isp4-low-level-support.patch
	source = 993-amd-isp4-fw-hw-interface.patch
	source = 994-amd-isp4-subdev-fw-loading.patch
	source = 995-amd-isp4-video-node-buffer-handling.patch
	source = 996-amd-isp4-debug-fs-logging.patch
	source = 997-amd-isp4-documentation.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = 51cebaa6e3a81ae3b41fe35a0a4c655ed9c7a365802be5135fd8c51b3aeba218
	sha256sums = f14265abd06e1ca3baddbcc45b373a2f772d43120af7208b2f0283f8e6f04072
	sha256sums = 873bd57526dc602cd7357bc8b629ece229ce2f8e2e90c8520e0c3a3de6b50e5c
	sha256sums = 0cf06d2e48ee41d8d3de07cbf7a82c22cdbe8edeb2e8e6764d682fdc343cbbb0
	sha256sums = f66216db7350e2a3a99751d9ec91121d9883a82352658d50c1b0255b42395cdb
	sha256sums = 553458c8240385f07788258da74e30f0d5fb7539c97a5da60dbc41056190e789
	sha256sums = f8afbdb8844c968e7cc44c88066c9f34374a6033ce4d3c47ed6696a12ee5555a
	sha256sums = 110a64c8d583bbe82158a79b9843604700a333cb41e291ee5f89ac9949dae48a

pkgname = linux-g1a
	pkgdesc = The Linux Mainline kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = NTSYNC-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-g1a-headers
	pkgdesc = Headers and scripts for building modules for the Linux Mainline kernel
	depends = pahole

pkgname = linux-g1a-docs
	pkgdesc = Documentation for the Linux Mainline kernel
