pkgbase = linux-g1a
	pkgdesc = Linux Mainline for ZBook Ultra G1a
	pkgver = 7.0.rc1
	pkgrel = 2
	url = https://kernel.org/
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = git
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = python-yaml
	makedepends = texlive-latexextra
	options = !debug
	options = !strip
	source = linux-mainline::git+https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git#tag=v7.0-rc1
	source = config
	source = 0001.patch
	source = 0002.patch
	source = 0003.patch
	source = 0004.patch
	source = 0005.patch
	source = 0006.patch
	source = 0007.patch
	source = 0008.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = c6bb082134faf03dc3fcd93164cac54a6092cfa7fb5ebe4611559d254c69624b
	sha256sums = f14265abd06e1ca3baddbcc45b373a2f772d43120af7208b2f0283f8e6f04072
	sha256sums = eba4cbc6027857f7e0f5c74de28ee65accc08a089827eca5a1cd617a31bc720d
	sha256sums = ac5791ad90ef961671fd07e103acd52e2c47a420d4c70c447e21e6d4c21120ab
	sha256sums = 5a3559b98c7d83f3c6bbe13ee407119d370b356bda1402ccb8002d5f629bf3b4
	sha256sums = 1a69b9aa8376df8cd082339469d2436da80bd0cd64d6e46a1da14ad730c2e73a
	sha256sums = 19f6b1f002019f4a0932f27041318cf21377b231f264bcf4484c624864277e4d
	sha256sums = b1ffec13e1441b6e4e826c0142bef09ef76ac2a9ca1bed7f93af809d3f15d61b
	sha256sums = 6a66b0e06ea6e3c71cfffb3dd9ce2e88d89789f1c72a9213d6f1d29442e42e01
	sha256sums = fc5721233854cfb14b03ad9d77310f955226c6daa446e1e0a9184fba5080e0d8

pkgname = linux-g1a
	pkgdesc = The Linux Mainline for ZBook Ultra G1a kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = NTSYNC-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-g1a-headers
	pkgdesc = Headers and scripts for building modules for the Linux Mainline for ZBook Ultra G1a kernel
	depends = pahole

pkgname = linux-g1a-docs
	pkgdesc = Documentation for the Linux Mainline for ZBook Ultra G1a kernel
